``` python
# if you running at azure nootbook to prepare env
#!pip install lxml --ignore-installed lxml
#!pip install tushare==1.2.54 
```

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from greenseer.configuration import do_global_configuration
do_global_configuration("config.properties")

In [11]:
from greenseer.dataset.china_dataset import fetch_default_targets, fetch_train_set, fetch_targets

y = fetch_default_targets()
y.head(5)

        st
code
688516   0
300431   0
300309   0
002514   0
000557   0

- 600519：茅台

In [12]:
from greenseer.dataset.china_dataset import fetch_multi_report
from logging.config import fileConfig
import numpy as np
fileConfig('logging_config.ini')
reports = fetch_multi_report(stock_ids=np.array(["600519"]))
reports.shape

(57, 242)

In [13]:
subjects = [r'\w*应付\w*|\w*应收\w*|存货|货币资金|\w*生物\w*']

from sklearn.pipeline import Pipeline
from greenseer.preprocessing.transformers import  regular_expression_column_filter, \
    pick_annual_report_china

prepare_pipeline = Pipeline([
        ('pick_annual_report', pick_annual_report_china()),
        ('pick_subject', regular_expression_column_filter(patterns=subjects)),
])

train, test = fetch_train_set()

X_train = prepare_pipeline.fit_transform(train)
X_train.head(5)

                   专项应付款(万元)  公益性生物资产(万元)  其他应付款(万元)  其他应收款(万元)  内部应付款(万元)  \
603689 2019-12-31      220.0          0.0     5749.0     1233.0        0.0
       2018-12-31        0.0          0.0     2974.0     1786.0        0.0
       2017-12-31        0.0          0.0     2337.0     1246.0        0.0
       2016-12-31        0.0          0.0     3607.0      586.0        0.0
       2015-12-31        0.0          0.0     1955.0     1139.0        0.0

                   内部应收款(万元)  存货(万元)  应付保证金(万元)  应付债券(万元)  应付分保账款(万元)  ...  \
603689 2019-12-31        0.0  3464.0        0.0       0.0         0.0  ...
       2018-12-31        0.0  2461.0        0.0       0.0         0.0  ...
       2017-12-31        0.0  2288.0        0.0       0.0         0.0  ...
       2016-12-31        0.0  1769.0        0.0       0.0         0.0  ...
       2015-12-31        0.0  1806.0        0.0       0.0         0.0  ...

                   应收分保账款(万元)  应收利息(万元)  应收票据(万元)  应收股利(万元)  应收补贴款(万元)  \
603689 2019-12-31         0.0       0.0       0.0       0.0        0.0
       2018-12-31         0.0       0.0       0.0       0.0        0.0
       2017-12-31         0.0       0.0       0.0       0.0        0.0
       2016-12-31         0.0       0.0       0.0       0.0        0.0
       2015-12-31         0.0       0.0     362.0       0.0        0.0

                   应收账款(万元)  生产性生物资产(万元)  货币资金(万元)  长期应付款(万元)  长期应收款(万元)
603689 2019-12-31   12458.0          0.0   39565.0        0.0        0.0
       2018-12-31    6519.0          0.0   46034.0        0.0        0.0
       2017-12-31    7411.0          0.0   52473.0        0.0        0.0
       2016-12-31    7387.0          0.0   31122.0        0.0        0.0
       2015-12-31    4877.0          0.0   44392.0        0.0        0.0

[5 rows x 31 columns]

In [17]:

target = fetch_targets(index=X_train.index,level=0)